* {
    margin: 0;
    box-sizing: border-box;
} 
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/* Nav */
nav {
    width: 100%;
    background-color: #0f1b27;
    padding: 1.5rem 6rem 1.3rem 6rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 999;
}
.nav-buttons a{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}
#team-name a{
    font-size: 1.3rem;
    font-weight: 700;
}
#nav-a{
    display: flex;
    gap: 3.5rem;
}
#nav-a a{
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.5s;
}
#nav-a a:hover{
    color: #797979;
}
/* End of Nav */

/* Home */
#home{
    background-image: url('desktop-pic.jpg');
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
}
.home-container{
    height: 965px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    background-color: #0d0d0dd0;
    padding: 5rem;
}
.heading h1{
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
/* End of Home */